<div class="wrapper">
  <app-nav-header></app-nav-header>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center images">
          <img src="assets/img/logo10.jpeg" alt="Rounded Image" class="rounded" />
          <h2 class="title">FOUR R</h2>
          <h4>Air Conditioning,Refrigeration and Mechanical Services</h4>
          <!-- <p class="description"></p> -->
        </div>
      </div>
      <!-- <div class="separator separator-primary"></div> -->
    </div>
  </div>
  <div class="section section-team text-center">
    <div class="container">
      <h2 class="title">Our Services</h2>
      <div class="team" >
        <div class="row">
          <div class="col-md-4" style="background-color: beige;">
            <div class="team-player">
              <img src="assets/img/test1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" />
              <h4 class="title">Welcome</h4>
              <!-- <p class="category text-primary">Designer</p> -->
              <p class="description para">
                We can handle all of your commercial and industrial air conditioning and refrigeration needs 24/7 and
                will provide air conditioning and refrigeration installation and maintenance in Darwin, Palmerston and
                rural areas.
              </p>
              <p class="description para">
                We are also refrigeration and airconditioning suppliers, working with top brands such as Skope, Orford,
                Daikin and Fujitsu.
              </p>
              <p class="description para">
                We offer a 24-hour call-out service and have technicians ready to come to you in fully equipped vans to
                help you with you refrigeration and airconditioning needs. Call us on 08 8947 2277.
              </p>
              <button class="btn btn-primary btn-round" type="button" (click)="onClick()">See more</button>
              <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-linkedin"></i></a> -->
            </div>
          </div>
          <div class="col-md-4" style="background-color: beige;">
            <div class="team-player">
              <img src="assets/img/test3.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" />
              <h4 class="title">Product & Services</h4>
              <!-- <p class="category text-primary">Fashion</p> -->
              <p class="description para">
                We service air conditioning and refrigeration in Darwin and surrounds and are experts for all your air
                conditioning and refrigeration needs in Darwin, specialising in:
              </p>
              <button class="btn btn-primary btn-round" type="button" (click)="onClick()" >See more</button>
              <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-youtube"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-twitter"></i></a> -->
            </div>
          </div>
          <div class="col-md-4" style="background-color: beige;">
            <div class="team-player">
              <img src="assets/img/test3.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" />
              <h4 class="title">Why FOUR <span style="font-size: 50px;">R</span> Aircon</h4>
              <!-- <p class="category text-primary">Fashion</p> -->
              <p class="description para">
                You can write here details about one of your team members. You
                can give more details about what they do. Feel free to add some
                <a>links</a> for people to be able to follow them
                outside the site.
              </p>
              <button class="btn btn-primary btn-round" type="button" (click)="onClick()">See more</button>
              <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-youtube"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-twitter"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-contact-us text-center">
    <!-- <div class="container">
            <h2 class="title">Want to work with us?</h2>
            <p class="description">Your project is very important to us.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon"
                            (focus)="focus=true" (blur)="focus=false">
                    </div>
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon"
                            (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80"
                            placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div> -->
  </div>
  <app-footer></app-footer>
</div>