<div class="wrapper">
    <app-nav-header></app-nav-header>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <app-sub-heading heading="Air Conditioning"></app-sub-heading>
                    <!-- <p class="description"></p> -->
                </div>
            </div>
            <!-- <div class="separator separator-primary"></div> -->
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/test2.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">“God has been replaced, as he has all over the
                                West, with respectability and air conditioning.”
                                <br>
                                <br>
                                <small>— Amiri Baraka</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/test3.jpg')"></div>
                    </div>
                    <div class="col-md-5 para">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/test4.jpg')">
                        </div>
                        <!-- <h3>So what does the new record for the lowest level of winter ice actually mean</h3> -->
                        <p>Air Conditioning Services consist of any service performed on the equipment that delivers
                            cool
                            air to the cabin of your car. The major components of your air conditioning system include
                            the
                            compressor, condenser, evaporator, expansion valve, and refrigerant. There are a variety of
                            problems that can hinder your air conditioner’s ability to generate cold air—it may be as
                            simple
                            as needing to add refrigerant. However, normal wear and tear causes seals, hoses, and
                            fittings
                            to get loose and wear out. When this happens, refrigerant can leak out.
                        </p>
                        <p>
                            Your air conditioner has an important job: keeping you and your family comfortable indoors.
                            When an air conditioner breaks down, it can be as expensive as it is frustrating. At One
                            Hour Heating & Air Conditioning, our team takes the frustration out of air conditioning
                            repair, installation, and maintenance.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Our Services</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Romina Hadid</h4>
                            <p class="category text-primary">Model</p>
                            <p class="description">You can write here details about one of your team members. You can
                                give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ryan Tompson</h4>
                            <p class="category text-primary">Designer</p>
                            <p class="description">You can write here details about one of your team members. You can
                                give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Eva Jenner</h4>
                            <p class="category text-primary">Fashion</p>
                            <p class="description">You can write here details about one of your team members. You can
                                give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
   <app-footer></app-footer>
</div>