<div class="wrapper">
  <app-nav-header></app-nav-header>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <app-sub-heading heading="Cooling"></app-sub-heading>
        </div>
      </div>
      <!-- <div class="separator separator-primary"></div> -->
      <div class="section-story-overview cooling-row">
        <div class="detail-ref">
          <div>
            <img class="cool-img" src="assets/img/air100.jpg" alt="Snow" style="width: 100%" />
          </div>
          <h4 class="title">
            Design and installation.
          </h4>
          <p class="description para" style="text-align: justify">
            According to the client needs, we can develop commercial cool rooms and freezer rooms. In
            addition we can provide complete installation process for any size panel system.
          </p>
        </div>
        <div class="detail-ref">
          <div>
            <img class="cool-img" src="assets/img/ref400.jpg" alt="Snow" style="width: 100%" />
          </div>
          <h4 class="title">
            Repairs and maintenance.
          </h4>
          <p class="description para" style="text-align: justify">
            If the cooling system is badly affected by damaged electrical equipment due to high heat or client need any
            new one, we can serve highly professional servicing pattern which will lead them to save the money and
            time.
          </p>
        </div>
        <div class="detail-ref">
          <div>
            <img class="cool-img" src="assets/img/cool200.jpg" alt="Snow" style="width: 100%" />
          </div>
          <h4 class="title">
            Instant turnaround.
          </h4>
          <p class="description para" style="text-align: justify">
            The Accurate Service team provide a 24/7 365 day callout service. Just call us on 427 075 737 and we
            will take over from there.
            All our maintenance customers have peace of mind knowing that we are always available should they be faced
            with a problem.
            Our fully trained and experienced engineers will diagnose the fault for the cooling system in a quick and
            timely manner..
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>