<div class="wrapper ref-container">
  <app-nav-header></app-nav-header>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <app-sub-heading heading="Refrigeration"></app-sub-heading>
        </div>
      </div>
      <!-- <div class="separator separator-primary"></div> -->
      <div class="section-story-overview">
        <div class="row py-2 detail-ref">
          <div class="col-4">
            <img
              class="cool-img"
              src="assets/img/test1.jpg"
              alt="Snow"
              style="width: 100%"
            />
          </div>
          <div class="col-6">
            <h4 class="title">
              Complete refrigeration services in the Darwin region from design
              to installation.
            </h4>
            <p class="description para" style="text-align: justify">
              Keeping your important goods cool is of the highest importance,
              whether at the home or at your place of business, particularly if
              you are in the food or service industry. Ensuring you have the
              right solutions on time and within budget, CTM Refrigeration,
              Airconditioning & Mechanical Services will be your helping hand.
              Providing complete refrigeration services, we can handle all your
              commercial and industrial needs in Darwin, Palmerston and rural
              areas. CTM are suppliers of Bromic refrigeration Systems for
              commercial applications. Call us 24/7 anytime to discuss your
              needs for refrigeration services on 08 8947 2277.
            </p>
          </div>
        </div>
        <div class="row py-2 detail-ref">
          <div class="col-4">
            <img
              class="cool-img"
              src="assets/img/test3.jpg"
              alt="Snow"
              style="width: 100%"
            />
          </div>
          <div class="col-6">
            <h4 class="title">
              Complete refrigeration services in the Darwin region from design
              to installation.
            </h4>
            <p class="description para" style="text-align: justify">
              Keeping your important goods cool is of the highest importance,
              whether at the home or at your place of business, particularly if
              you are in the food or service industry. Ensuring you have the
              right solutions on time and within budget, CTM Refrigeration,
              Airconditioning & Mechanical Services will be your helping hand.
              Providing complete refrigeration services, we can handle all your
              commercial and industrial needs in Darwin, Palmerston and rural
              areas. CTM are suppliers of Bromic refrigeration Systems for
              commercial applications. Call us 24/7 anytime to discuss your
              needs for refrigeration services on 08 8947 2277.
            </p>
          </div>
        </div>
        <div class="row py-2 detail-ref">
          <div class="col-4">
            <img
              class="cool-img"
              src="assets/img/test1.jpg"
              alt="Snow"
              style="width: 100%"
            />
          </div>
          <div class="col-6">
            <h4 class="title">
              Complete refrigeration services in the Darwin region from design
              to installation.
            </h4>
            <p class="description para" style="text-align: justify">
              Keeping your important goods cool is of the highest importance,
              whether at the home or at your place of business, particularly if
              you are in the food or service industry. Ensuring you have the
              right solutions on time and within budget, CTM Refrigeration,
              Airconditioning & Mechanical Services will be your helping hand.
              Providing complete refrigeration services, we can handle all your
              commercial and industrial needs in Darwin, Palmerston and rural
              areas. CTM are suppliers of Bromic refrigeration Systems for
              commercial applications. Call us 24/7 anytime to discuss your
              needs for refrigeration services on 08 8947 2277.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
