<div class="wrapper ref-container">
  <app-nav-header></app-nav-header>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <app-sub-heading heading="Refrigeration"></app-sub-heading>
        </div>
      </div>
      <!-- <div class="separator separator-primary"></div> -->
      <div class="section-story-overview">
        <div class="row py-2 detail-ref">
          <div class="col-4">
            <img class="cool-img" src="assets/img/num7.jpg" alt="Snow" style="width: 100%" />
          </div>
          <div class="col-6">
            <h4 class="title">
              Full-fledged refrigeration services from design
              to installation.
            </h4>
            <p class="description para" style="text-align: justify">
              At FOUR R Airconditioning,Refrigeration & Mechanical Services, we specialise in expert refrigeration
              repair services tailored to meet your specific needs. Our team understands refrigeration systems' critical
              role in preserving perishable goods and maintaining optimal temperatures for various industries. Whether
              it's a malfunctioning compressor, issues with temperature regulation, or any other refrigeration concern
              (such as issues with cool rooms, freezer rooms, bottle coolers, etc.), our skilled technicians utilise
              cutting-edge techniques and tools to diagnose and resolve problems efficiently. With a commitment to
              quality service and client satisfaction, we strive to restore your refrigeration system to peak
              performance, ensuring seamless operations and the preservation of your valuable inventory. Trust us to
              keep your refrigeration units running smoothly.
            </p>
          </div>
        </div>
        <div class="row py-2 detail-ref">
          <div class="col-4">
            <img class="cool-img" src="assets/img/sa15.jpg" alt="Snow" style="width: 100%" />
          </div>
          <div class="col-6">
            <h4 class="title">
              Emergency Breakdown & Repair
            </h4>
            <p class="description para" style="text-align: justify">
              As well as our Planned Preventative Maintenance packages we also offer a reactive breakdown and repair
              service so you will have peace of mind that your air conditioning, refrigeration, heating and commercial
              ventilation equipment is serviced regularly, keeping it in constant good working order and optimising
              efficiency at all times. This also means you are less likely to suffer from a system breakdown. Whether
              you have installed a new system or want regular servicing of your existing system, our highly trained
              engineers can provide you with the right level of service to meet your needs. 
            </p>
          </div>
        </div>
        <div class="row py-2 detail-ref">
          <div class="col-4">
            <img class="cool-img" src="assets/img/sa17.jpg" alt="Snow" style="width: 100%" />
          </div>
          <div class="col-6">
            <h4 class="title">
              Maintenance
            </h4>
            <p class="description para" style="text-align: justify">
              The Accurate Service team provide a 24/7 365 day callout service. Just call us on 427 075 737 and we
              will take over from there.
              All our maintenance customers have peace of mind knowing that we are always available should they be faced
              with a problem.
              Our fully trained and experienced engineers will diagnose the fault in a quick and timely manner.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>