.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.ref-img {
  height: 100%;
}


.section-story-overview {
  .cool-img {
    height: 100%;
  }
}