<div class="wrapper">
  <app-nav-header></app-nav-header>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center images">
          <img
            src="assets/img/logo10.jpeg"
            alt="Rounded Image"
            class="rounded"
          />
          <h2 class="title">FOUR R</h2>
          <h4>Air Conditioning, Refrigeration and Mechanical Services</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-team text-center">
    <div class="container">
      <app-sub-heading heading="Our Services" [isUpper]="false"></app-sub-heading>
      <div class="team">
        <div class="row">
          <div class="col-md-4 service">
            <div class="team-player">
              <img
                src="assets/img/num10.jpg"
                alt="Thumbnail Image"
                class="img-fluid "
              />
              <h4 class="title">Welcome</h4>
              <p class="description para">
                FOUR R Airconditioning,Refrigeration & Mechanical Services
                 is a renowned company dedicated
                to providing top-tier maintenance and mechanical solutions. With
                a commitment to excellence and reliability, Four R stands out
                for its comprehensive range of services tailored to meet diverse
                domestic, industrial and commercial needs
              </p>

              <div class="see-more">
                <button
                  class="btn btn-primary btn-round"
                  type="button"
                  (click)="open(classic2, '', '')"
                >
                  See more
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 service">
            <div class="team-player">
              <img
                src="assets/img/samp1.jpg"
                alt="Thumbnail Image"
                class="img-fluid "
              />
              <h4 class="title">Services</h4>
              <p class="description para">
                At FOUR R Airconditioning,Refrigeration & Mechanical Services,
                 we are your reliable partner
                for fixing a wide range of mechanical issues. Specializing in
                repair services for any appliances (commercial and domestic)
                such as chiller, air conditioners, cool room, freezers, white
                goods and various other devices, our dedicated staff of skilled
                technician is committed to ensuring your equipment operates at
                peak performance.
              </p>
              <div class="see-more">
                <button
                  class="btn btn-primary btn-round"
                  type="button"
                  (click)="open(classic1, '', '')"
                >
                  See more
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 service">
            <div class="team-player">
              <img
                src="assets/img/ref500.jpg"
                alt="Thumbnail Image"
                class="img-fluid "
              />
              <h4 class="title">
                Why FOUR R<br>
                Airconditioning,Refrigeration & Mechanical Services
              </h4>
              <p class="description para">
                If you're facing issues with your air conditioner, fridge, or
                any mechanical equipment, Four R Services and Maintenance is
                here to offer reliable and effective repair solutions. Contact
                us today, and let our expert team restore your appliances to
                full functionality.
              </p>
              <div class="see-more">
                <button
                  class="btn btn-primary btn-round"
                  type="button"
                  (click)="open(classic, '', '')"
                >
                  See more
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<ng-template #classic2 let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
    <button type="button" class="close" (click)="d('Cross click')">
      <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
    <h4 class="title">
      What is Four <span style="font-size: 30px">R</span> Airconditioning,
      Refrigeration & Mechanical Service?
    </h4>
  </div>
  <div class="modal-body">
    <p style="font-style: italic">
      What sets Four R apart is their customer-centric approach. They prioritize
      understanding the unique requirements of each client, ensuring
      personalized solutions that align with specific operational goals. Whether
      it's preventative maintenance programs, equipment repairs, or full-scale
      mechanical installations, Four R operates with precision and efficiency.
    </p>
    <p style="font-style: italic">
      The company's reputation for quality craftsmanship, timely delivery, and
      attention to detail precedes them. They prioritize safety protocols and
      adhere to industry standards, providing clients with peace of mind and a
      sense of confidence in the services rendered
    </p>
    <p style="font-style: italic">
      Four R Service and Maintenance takes pride in fostering long-term
      relationships with their clients, built on trust, professionalism, and
      exceptional service delivery. They are the go-to choose for businesses
      seeking reliable, expert-driven maintenance and mechanical solutions.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link btn-neutral">Back</button>
    <button type="button" class="btn close-btn" (click)="c('Close click')">
      Close
    </button>
  </div>
</ng-template>

<ng-template #classic1 let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
    <button type="button" class="close" (click)="d('Cross click')">
      <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
    <h4 class="title">Our Services</h4>
  </div>
  <div class="modal-body">
    <ul>
      <li style="font-style: italic">
        <span class="title" style="font-size: 15px; font-style: normal">
          Air Conditioner Repairs:
        </span>
        Is your air conditioner, chiller plant not cooling efficiently or making
        unusual noises? Our expert is well-equipped to diagnose and repair a
        variety of air conditioning issues, restoring comfort to your space.
      </li>
      <li style="font-style: italic">
        <span class="title" style="font-size: 15px; font-style: normal">
          Refrigeration:
        </span>
        Our technicians are experted in repairing and maintaining cool rooms,
        freezer rooms and other refrigerated equipments.
      </li>
      <li style="font-style: italic">
        <span class="title" style="font-size: 15px; font-style: normal">
          Customer Satisfaction:
        </span>
        Customer satisfaction is at the core of our business. We take pride in
        delivering quality repairs and ensuring that your appliances function
        optimally after our service.
      </li>
      <li style="font-style: italic">
        <span class="title" style="font-size: 15px; font-style: normal">
          White goods Repair:
        </span>
        When your fridge starts acting up, it can disrupt your daily routine.
        Our technician is proficient in diagnosing and fixing fridge problems,
        from temperature issues to faulty compressors.
      </li>
      <li style="font-style: italic">
        <span class="title" style="font-size: 15px; font-style: normal">
          Mechanical Problem Solving:
        </span>
        Beyond air conditioners and fridges, we excel in addressing a broad
        spectrum of mechanical problems. Whether it's a malfunctioning appliance
        or an issue with your machinery, we have the expertise to identify and
        resolve the issue promptly.
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link btn-neutral">Back</button>
    <button type="button" class="btn close-btn" (click)="c('Close click')">
      Close
    </button>
  </div>
</ng-template>

<ng-template #classic let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
    <button type="button" class="close" (click)="d('Cross click')">
      <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
    <h4 class="title">
      Why FOUR <span style="font-size: 25px">R</span> Aircon
    </h4>
  </div>
  <div class="modal-body">
    <ul>
      <li style="font-style: italic">
        <span class="title" style="font-size: 15px; font-style: normal">
          Expert Technicians:
        </span>
        Our team comprises highly skilled technicians with extensive experience
        in the field. They are adept at troubleshooting and fixing a variety of
        mechanical problems.
      </li>
      <li style="font-style: italic">
        <span class="title" style="font-size: 15px; font-style: normal">
          Prompt and Efficient Service:
        </span>
        We understand the importance of quick solutions. Our responsive team is
        committed to providing timely and efficient services to minimize
        downtime.
      </li>
      <li style="font-style: italic">
        <span class="title" style="font-size: 15px; font-style: normal">
          Customer Satisfaction:
        </span>
        Customer satisfaction is at the core of our business. We take pride in
        delivering quality repairs and ensuring that your appliances function
        optimally after our service.
      </li>
      <li style="font-style: italic">
        <span class="title" style="font-size: 15px; font-style: normal">
          Transparent Communication:
        </span>
        We believe in transparent communication. Before proceeding with any
        repairs, our technicians will thoroughly explain the issue, the proposed
        solution, and provide an estimate, ensuring you are informed every step
        of the way..
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link btn-neutral">Back</button>
    <button type="button" class="btn close-btn" (click)="c('Close click')">
      Close
    </button>
  </div>
</ng-template>
