<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/test1.jpg') ;">
        </div>
        <div class="container w3-container w3-center w3-animate-zoom">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/logo10.jpeg" alt="">
                </div>
                <h3 class="title">FOUR R</h3>
                <p class="category">Airconditioning,Refrigeration and Mechanical Services</p>

            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                    title="Follow me on Twitter">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                    title="Follow me on Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <h2 class="title">My portfolio</h2>
            <div class="row">
                <div class="col-md-12">
                    <!-- <h4 class="title text-center">My Portfolio</h4> -->
                    <ngb-tabset [justify]="'center'" type="pills"
                        class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons design_image"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons location_world"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg6.jpg" class="img-raised">
                                                <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons sport_user-run"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg6.jpg" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
                <div class="col-lg-12 ">
                    <h2 class="title">Projects</h2>
                </div>
                <div class="section" id="carousel">
                    <div class="container">
                        <div class="title">
                            <p class="title">Design, supply & install all air-conditioning to developments.
                            </p>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <ngb-carousel>
                                    <ng-template ngbSlide>
                                        <img class="d-block" src="assets/img/bg1.jpg" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Nature, United States</h5>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img class="d-block" src="assets/img/bg3.jpg" alt="Second slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Somewhere Beyond, United States</h5>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img class="d-block" src="assets/img/bg4.jpg" alt="Third slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Yellowstone National Park, United States</h5>
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row corousalDive">
               
            </div> -->
        </div>
    </div>
    <app-footer></app-footer>
</div>