agm-map {
    height: 300px;
  }
  
  
  .move {
    // position: absolute;
    padding-top: 30px;
  }
  
  .move2
  {
    padding-top: 55px;
  }

  .corousalDive{
    padding-bottom: 20px;
  }


  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  